altgraph==0.17.4
greenlet==3.0.3
packaging==24.1
pefile==2023.2.7
pyinstaller==6.8.0
pyinstaller-hooks-contrib==2024.7
PySide6==6.6.0
PySide6-Addons==6.6.0
PySide6-Essentials==6.6.0
pywin32-ctypes==0.2.2
setuptools==70.0.0
shiboken6==6.6.0
SQLAlchemy==2.0.30
typing_extensions==4.8.0
